.cards-article > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.cards-article > ul > li {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
}

.cards-article .cards-article-card-image {
  line-height: 0;
}

.cards-article .cards-article-card-image picture {
  display: block;
}

.cards-article .cards-article-card-image img {
  display: block;
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards-article .cards-article-card-body {
  flex: 1;
  padding: 16px;
}

.cards-article .cards-article-card-body > :first-child {
  margin-top: 0;
}

.cards-article .cards-article-card-body > :last-child {
  margin-bottom: 0;
}

.cards-article .cards-article-card-meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.cards-article .cards-article-card-meta p {
  margin: 0;
}

.cards-article .cards-article-card-linked .cards-article-card-link::after {
  content: '';
  position: absolute;
  inset: 0;
}

@media (width >= 600px) {
  .cards-article > ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width >= 900px) {
  .cards-article > ul {
    grid-template-columns: repeat(4, 1fr);
  }
}
